<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="flo_configurator" frontName="flo_configurator">
            <module name="Flo_Configurator" />
        </route>
    </router>
</config>
